<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body class="{{ body_class }}">
        {% include "blocks/header.njk" %}
        <main>
            {% block main %}{% endblock %}
        </main>
        {% include "blocks/footer.njk" %}
    </body>
</html>
