@import 'normalize';
@import 'reset';
@import 'colors';

html {
    background-color: $grau;
    font-size: 18px;
    color: $grau;
}

body {
    max-width: 992px;
    width: 100%;
    margin: 0 auto;
    background-color: $paper;
}

body:after {
    position: absolute;
    z-index: 10;
    content: '';
    height: 10px;
    max-width: 992px;
    width: 100%;
    background-blend-mode: soft-light;
    background: linear-gradient(rgba(0,0,0,0), #000), #BBB;
    transform-origin: top center;
    transform: rotateX(90deg) perspective(250px) rotateX(-90deg);
}

header {
    margin-bottom: 1em;
}

main {
    padding: 0 1em;
}

footer {
    margin-top: 1em;
}
